html,
body {
    font-family:'Courier New', Courier, monospace;
    margin: 0px;
    height: 100vh;
    background-color:#232323;
    color:#39ff14;
}
body {
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}
header h1 {
    font-size: 64px;
    text-align: center;
}
.bodyzero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 0px;
}
.portfolio {
    display: flex;
    flex-direction: column;
    flex: 1,0;
    width: 400px;
}
p {
    text-align: justify;
    margin: 0px;
}
a {
    color:#b7f6ab;
}
.words,
.portfolio {
    border-radius: 15px;
    background-color: #1111116f;
    padding: 20px;
    margin-top: -10px;
}
h2 {
    margin: 0px;
    padding-bottom: 10px;
    text-decoration:underline;
}
.words {
    flex: 1,0;
    width: 400px;
}
footer {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    background-color: #1111116f;
    margin-top: auto;
    padding: 10px;
}