html,
body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#A9C9D6;
    color: #333;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
    min-height: 100vh;
    font-weight: bold;
}
a {
    font-weight: bolder;
}
header h1 {
    font-size: 64px;
    text-align: center;
}
.bodyzero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 0px;
}
.portfolio {
    display: flex;
    flex-direction: column;
    flex: 1,0;
    width: 400px;
}
p {
    text-align: justify;
    margin: 0px;
}
a {
    color:#000000af;
}
.words,
.portfolio {
    border-radius: 15px;
    background-color: #0000001c;
    padding: 20px;
    margin-top: -10px;
}
h2 {
    margin: 0px;
    padding-bottom: 10px;
    text-decoration:underline;
}
.words {
    flex: 1,0;
    width: 400px;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0000001c;
    flex-shrink: 0;
    margin-top: auto;
    padding: 5px 20px;
}